<div class="create">
        <h3>Create Listing</h3>
          <div class="pet">
            <form (submit)="addPet(); petForm.reset()" #petForm="ngForm">
              <div class="col-sm-7">
                <div class="form-group">
                  <label>Name: </label> <span class="error" *ngIf="name.errors && (name.dirty || name.touched)"> *required</span>
                  <input type="text" name="name" class="form-control" [(ngModel)]="newPet.name" #title="ngModel" required>
                  <label>Image URL: </label> <span class="error" *ngIf="image.errors && (image.dirty || image.touched)"> *required</span>
                  <input type="text" name="name" class="form-control" [(ngModel)]="newPet.image" #title="ngModel" required>
                  <label>Description: </label> <span class="error" *ngIf="description.errors && (description.dirty || description.touched)">
                    <span *ngIf="description.errors.required"> *required</span><span *ngIf="description.errors.maxlength"> *cannot exceed 500 characters</span></span>
                  <textarea class="form-control" rows="3" name="desc" [(ngModel)]="newPet.description" #description="ngModel" required maxlength="500"></textarea>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label>Adoption Fee: </label> <span class="error" *ngIf="fee.errors && (fee.dirty || fee.touched)">
                    <span *ngIf="fee.errors.required"> *required</span><span *ngIf="!fee.errors.required && fee.errors.minValue">*at least $1</span></span>
                  <input type="number" class="form-control" name="fee" [(ngModel)]="newPet.fee" #fee="ngModel" required minValue="1">
                  <label>Location</label> <span class="error" *ngIf="location.errors && (location.dirty || location.touched)"> *required</span>
                  <input type="text" class="form-control" name="location" [(ngModel)]="newPet.location" #location="ngModel" required>
                  <input type="submit" value="Create" class="btn btn-success" [disabled]="!petForm.form.valid || !hasImage">
                </div>
              </div>
            </form>
          </div>
        </div>
        <hr>
        <div class="edits">
        <h3>Edit/Delete Listings</h3>
          <div class="pets" *ngFor="let p of myPets; let idx = index">
            <form (submit)="updatePet(idx)" #petForm="ngForm">
              <div class="col-sm-7">
                <div class="form-group">
                  <label>Title</label> 
                   <span class="error" *ngIf="title.errors && (title.dirty || title.touched)"> *required</span> 
                  <input type="text" name="title" class="form-control" [(ngModel)]="p.title" #title="ngModel" required>
                  <label>Description</label> 
                   <span class="error" *ngIf="description.errors && (description.dirty || description.touched)"> 
                   <span *ngIf="description.errors.required"> *required</span><span *ngIf="description.errors.maxlength"> *cannot exceed 500 characters</span></span> 
                  <textarea class="form-control" rows="3" name="desc" [(ngModel)]="p.description" #description="ngModel" required maxlength="500"></textarea>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label>Fee</label>
                    <span class="error" *ngIf="fee.errors && (fee.dirty || fee.touched)"> 
                    <span *ngIf="fee.errors.required"> *required</span><span *ngIf="feeTooLow">*at least $1</span></span> 
                  <input type="number" class="form-control" name="fee" [(ngModel)]="p.fee" #fee="ngModel" required minValue="1">
                  <label>Location</label> 
                    <span class="error" *ngIf="location.errors && (location.dirty || location.touched)"> *required</span> 
                  <input type="text" class="form-control" name="location" [(ngModel)]="b.location" #location="ngModel" required>
                  <input type="submit" value="Update" class="btn btn-primary btn-half" [disabled]="!petForm.form.valid || p.image == '' || p.image == null"> 
                  <button class="btn btn-danger btn-half" (click)="deletePet(idx)">Delete</button>
                </div>
              </div>
            </form>
          </div>
        </div>