
  <div class="container-stories">
    <div class="container">
        <div class="page-header" id="stories">
          <h1 class="text-primary text-center">PETS STORIES</h1>
        </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <img class="img-responsive" src="assets/images/image2.jpg" />
            </div>
            <div class="col-md-6">
              <h3>Isabella</h3>
              <p>and Rex</p>
              <br />
              <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              <br />
              <button class="button-more-success btn" type="button" style="margin:10px;">READ MORE</button>
              <br />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <img class="img-responsive" src="assets/images/image3.jpg" />
            </div>
            <div class="col-md-6">
              <h3>Zoe, Oliver</h3>
              <p>Molly and Max</p>
              <br />
              <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              <br />
              <button class="button-more-success btn" type="button" style="margin:10px;">READ MORE</button>
              <br />
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <img class="img-responsive" src="assets/images/image4.jpg" />
            </div>
            <div class="col-md-6">
              <h3>Mia</h3>
              <p>and Charlie</p>
              <br />
              <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              <br />
              <button class="button-more-success btn" type="button" style="margin:10px;">READ MORE</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <img class="img-responsive" src="assets/images/image5.jpg" />
            </div>
            <div class="col-md-6">
              <h3>James</h3>
              <p>and Toby</p>
              <br />
              <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              <br />
              <button class="button-more-success btn" type="button" style="margin:10px;">READ MORE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
