<div id="container">
  <h2>WELCOME TO PAWNDR</h2>
      <label>For every human who needs to pawndr their furever friend</label>
</div>
<div id="info">
  <fieldset>
    <h3>PET OF THE DAY</h3>
    <img src="https://images.pexels.com/photos/374906/pexels-photo-374906.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb">
    <h3>PET INFORMATION</h3>
  </fieldset>
</div>
<hr>
<div class="login">
  <fieldset>
    <form (submit)="login()">
      <p>Email: <input type="email" name="email" [(ngModel)]="user.name"></p>
      <input type="submit" name="">
    </form>
  </fieldset>
</div>

