#container{
    font-family: oswald;
    font-size: 30px;
    margin-left: 20px;
}
img{
    width: 500px;
}
#info{
    font-family: oswald;
}
h3{
    text-align: left;
}
.login{
    font-size: 22px;
    width: 500px;
    font-family: oswald;
    display: inline;
}

.carousel {
    position: relative;
    height:
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

.carousel-inner > .item > img {
    line-height: 1;
}
  