<!-- <h1>Pawndr</h1>
<h4>For every human who needs to pawndr their furever friend.</h4>
<br> -->

    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" title="Animal Adoption Bootstrap Theme">
            <img class="logo" src="/assets/images/logo2.png" alt="Animal Adoption Bootstrap Theme" style="margin-top:5px; margin-bottom: 5px; width: 300px;" />
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#home" class="smooth-scroll">ABOUT</a></li>
            <li><a [routerLink]="['/stories']" class="smooth-scroll">STORIES</a></li>
            <li><a [routerLink]="['/pets']" class="smooth-scroll">PAWNDR A PET</a></li>
            <li><a [routerLink]="['/login']" class="smooth-scroll">REGISTER/LOGIN</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<router-outlet></router-outlet>
